/.idea/workspace.xml
.idea/libraries/*.xml
*.class
out/*
base/target/*
security/target/*
webservice/target/*
/.idea/compiler.xml
/security/security.iml
/.idea/modules.xml
.idea/sonarlint/*
*.iml
/.idea/misc.xml
j8/target/*
json/target/*
/testfw/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/.idea/encodings.xml
testfw/target/*